/* I don't really know what I'm doing but here we go */
/*.navigation {
    float: left;
    display: block;
    color: white;
    text-align:center;
    padding: 20px 20px;
}*/

body {
    background-color: #4C7766;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    padding-left: 10%;
    padding-inline-start: 10%;
}

.navigation {
    display: block;
}

.navigation a {
    float: right;
    color: white;
    padding: 25px 30px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

h1 {
    font-size: 100px;
    margin: 20px;
    color:white;
}

.heroSection {
    color: white;
    font-size: 20px;
    display: grid;
    grid-template-columns: 350px 400px ;
    column-gap: 10px;
}

.box {
    background-color: rgb(7, 10, 8);
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.visualSkills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skills {
    color: grey;
    background-color: white;
    padding: 15px;
    margin: auto;
    position: relative;
    top: -80px;
}

.footer {
    margin-left: -12%;
    margin-bottom: -1%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 10%;
    padding-top: 10%;
    display: grid;
    grid-template-columns: 300px 150px 150px 150px;
    background-color: pink;
    width: 100%;
}

.squareLink {
    height: 120px;
    width: 120px;
    background-color: white;
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .visualSkills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5px;
    } 
 
     .heroSection {
          display: grid;
          grid-template-columns: 1fr;
     }
 
     h1 {
         font-size: 50px;
     }
 }